{% extends 'base.html' %}
{% block content %}
<center><h1>Contributions</h1></center>
{% for contribution in object_list %}
<div class="panel">
  <h3><a href="{{ contribution.get_absolute_url }}">{{ contribution.amount }}</a></h3>
  <p>Donated by <a href="{% url 'user_detail' slug=contribution.user.username %}">{{ contribution.user.username }}</a> on {{ contribution.date }}</p>
  <p>Details about the donations: {{ contribution.notes }}</p>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}