{% extends 'base.html' %}
{% block content %}
<center><h1>About Us</h1></center>
<center><p>One cold day in Bowlingreen, Kentucky, a mom and her two boys were driving under an underpass where they saw a group of homeless people bundled up together because of the cold. The boys started to cry and asked their mother to put the homeless people in the car. Prioritizing their safety, the mother insisted on the children thinking of other way to help. The kids rallied up their friends and decided to give out Christmas bags filled with socks and gloves. When the first 50 bags were distributed, they were gone in 5 minutes. With every passing year, the boys wanted to warm an additional 50 people. This past year, they passed out 250 bags. Inspired by her children’s aspiration to help the less fortunate, Alex and Allen’s mother started the Warm Them All initiative. We hope Warm Them All encourages children across the country to give.</p>
<h3>Alex and Allen’s Bags</h3>
  <p>Water</p>
  <p>Cereal Bar, with no allergenic ingredients</p>
  <p>Preferably peanut free</p>
  <p>Rice Krispy</p>
  <p>Socks, preferably men’s socks</p>
  <p>Gloves, preferably men’s gloves</p>
  <p>Prayer card</p>
  <p>Bag items may vary based on weather conditions</p>
{% endblock %}