{% extends 'base.html' %}
{% block content %}
<center><div class="container">
  <div class="intro-header">
  <div class="intro-message">
  <h1>Parent Tips</h1>
  <h2>To Keep You and Your Childs Information Secure</h2>
</div>
  </div>
  </div>
</center>
<center><h1>Parent Tips</h1></center>
<center><p>• Children must have permission from their parent or legal guardian if under 18</p></center>
<center><p>• Assist children in distributing bags as a safety precaution</p></center>
<center><p>• Avoid having food products that contain allergenic ingredients</p></center>
<center><p>• If kids are under 13 years of age, parents have to be involved in the terms of videos and photos</p></center>
<center><p>• Check the content your children posts on Warm Them All, make sure children do not include specific information about themselves</p></center>
<center><p>• Most affordable place to purchase bag items: Dollar Club</p></center>
<center><p>• Monitor all information posted by your child</p></center>
<center><p>• Do not post specific location information besides your state</p></center>
<center><h3>The most important thing to us at Warm Them All is safety. Please do your best to be resposible and safe when posting information on not only our site, but the internet in general.</h3></center>
{% endblock %}